h1{
    text-align: center;
    color: rgb(20, 1, 1);
    text-decoration: underline;
}

p{
    font-weight: bolder;
    height: 30px;
}
map{
    display: flex;
    justify-content: center;
    margin-top: -100px;
}
#gmap_canvas{
    width: 60%;
    margin-left: 300px;
}
body{
    background-image: url('https://4kwallpapers.com/images/wallpapers/windows-11-landscape-scenery-sunrise-stock-day-light-1920x1080-5661.jpg');
    
    background-repeat: no-repeat;
    
    background-size: cover;
    
    
}